<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
</head>
<body class="white">
    <div class="container">
        <div class="row">
            <div class="col-3-sm">
            <p>Are you <strong>hungry?</strong>
    <br>
    Don't stress we got you!!! &#128521 <br> Just click the button to see what we have in store for you
    </p>
    <a href="/cart"><input type="submit" value="Order now"></a> 
     </div>
    <img class="col-9-sm home" src="img/pizza.png" alt="home">
   
    </div>
    </div>
    <div style="margin-top: 6.7em;"></div>
<footer class="border">
    <p>
        &phone; Contact us at: (021)-541-1000 <br> 	
        &#9993; Email us at: info@perfectpizza.co.za
    </p>
</footer>
</body>
</html>