<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <div class="row">
        <form action="/orders" method="get">
           <section class="centered">
      <h1>Cart is Empty &#128533;</h1>
      <p>It seems like you haven't ordered a pizza<br>
        Click here <a href="#section" onclick="scroll()" class="clear"><i class="fa fa-arrow-down"></i></a> to order
      </p>
      <img src="empty-cart.png" alt="empty-cart">

  </section>
  <section id="section">
      <div>
        <i class="fa fa-shopping-cart"></i>
        <h1>Summary</h1>
      </div>
  </section>
  </form>
    </div>
</body>
</html>