<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
</head>
<body>
    <div class="container">
        <div class="row">
  <section class="cart-container">
<form action="/register" method="POST" style="margin:3em">
    <h2>Register Form</h2>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" required placeholder="Name" name="name">
    </div>
  
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="text" required placeholder="Email" name="email">
    </div>
    
    <div class="input-container">
      <i class="fa fa-lock icon"></i>
      <input class="input-field" type="password" required placeholder="Password" name="psw">
    </div>
  
    <div class="input-container">
        <i class="fa fa-lock icon"></i>
        <input class="input-field" type="password" required placeholder="Retype Password" name="psw1">
      </div>

    <button type="submit" class="btn">Register</button>
  </form>
  </section>
</div>
</div>
</body>
</html>